@font-face {
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(./fonts/BarlowSemiCondensed-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/BarlowSemiCondensed-Regular.ttf) format('truetype');
}

.highcharts-root {
    font-family: "Barlow Semi Condensed", Verdana, sans-serif;
}

.highcharts-tooltip-container {
    z-index: 999 !important;
}

.tableChart {
    font-family: "Barlow Semi Condensed", Verdana, sans-serif;
    overflow-x: auto;
    padding-left: 20px;
    padding-top: 4px;
    padding-right: 20px;
}

.tableChart table,
.tableChart th,
.tableChart td {
    border: 1px solid black;
}

.tableChart .title {
    margin-top: 0;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0rem;
    width: 90%;
}

.tableChart .subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 2rem;
    margin-top: 6px;
    width: 90%;
}

.keyFigureChart {
    font-family: "Barlow Semi Condensed", Verdana, sans-serif;
}

.keyFigure-container {
    border: 1px solid #adadad;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    background-color: white;
}

.keyFigure-title {
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.4;
    color: #1a3061;
}

.keyFigure-value-main {
    font-weight: 600;
    font-size: 2rem;
    margin-inline-end: 0.25rem;
    color: #1a3061;
    line-height: 1.2;
}

.keyFigure-unit {
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
    color: #1a3061;
}

.keyFigure-time {
    margin: 0;
    line-height: 1.6;
    font-size: 1rem;
    font-weight: 400;
    max-width: 100%;
    color: #1a3061;
}

.keyFigure-lastupdated {
    margin: 0;
    line-height: 1.6;
    font-size: 0.9rem;
    font-weight: 400;
    max-width: 100%;
    color: #1a3061;
}

.keyFigure-preliminary {
    margin: 0;
    line-height: 1.6;
    font-size: 1rem;
    font-weight: 400;
    max-width: 100%;
    color: #1a3061;
}